.center {
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }

a {
    color: white;
    margin-left: 1%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-decoration: none;
    font-weight: 400;
    font-size: 200%;
  }

div {
  margin-left: 46%;
}

body {
  background-color:black;
}



.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: white;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: grey;
}

.underlineHover:hover:after{
  width: 100%;
}